body{
    /* background-color: #292929; */
    /* color:#ffffff; */
    margin: 0;
    padding: 0;
}

h1{ 
    text-align: center;
    padding-bottom: 45px;
}

#dato {
    text-align: center;

}
 
